/*{
	outline: 1px solid grey
}
*/
{
	box-sizing: border-box;
}

body{
	margin:0;
	font-family: 'Share Tech', sans-serif;
}
h1{
	text-align: -webkit-center;
    background-color: green;
    color: white;
    padding: 20px;
}

/************************Elementos Botonera***********/

#botonera1{
	float: left;
	width: 30%;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    padding: 5px 20px;
    color: white;
   
	
}
#botonera1 li{
	margin: 10px;
    padding: 10px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: green;
}

#botonera1 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}

#botonera2{
	float: left;
	width:50%;
    list-style-type: none;  
    padding: 5px 0px;
    color: white;
	
}
#botonera2 li{
	margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

#botonera2 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}

#botonera3{
	float: right;
	width: 50%;
    list-style-type: none;
    padding: 5px 0px;
    color: white;
}

#botonera3 li{
	margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

#botonera3 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}


#botonera4{
	float: left;
	width: 100%;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    padding: 5px -1px;
    color: white;
}

#botonera4 li{
	margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
    color: white;
}

#botonera4 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}

}
.contenedor{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	
}

/************************Elementos Tabla***********//

h2{
	margin-top: 5px;
    margin-bottom: auto;
    color: black;

}

#tabla_registros{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#tabla_registros td {
	text-align: center;
}

#tabla_registros th {
	color: green;
	border-bottom: 2px green solid;
	background-color: white;
}

#tabla_registros tr:nth-child(odd) {  /*renglones impares grises*/
		background-color: gray;
		color: white;
}


/************************Elementos Panel***********/

#panel{
	float: right;
	width: 60%;
	margin-top: 30px;
	border: solid green;
	padding-bottom: 30px;
	margin-right: 30px;
	}

h3{
	text-align: center;
}

#img-ajax{
	text-align: center;
	display:none;
}

@media screen and (max-width: 860px) {
	#botonera1{
		float: none;
		width: 100%;
		}
	#botonera2{
		float: none;
		width: 100%;
		}
	#botonera3{
		float: none;
		width: 100%;
		}
	#botonera4{
		float: none;
		width: 100%;
		}
	
	#panel{
		margin: 30px;
		float: none;
		width: 95%;
		}

	#tabla_registros{
		width: 90%;
				}
}