/*{
	outline: 1px solid grey
}
*/
{
	box-sizing: border-box;
}

body{
	margin:0;
	font-family: 'Share Tech', sans-serif;
}
h1{
	text-align: -webkit-center;
    background-color: green;
    color: black;
    padding: 20px;
}

/************************Elementos Botonera***********/

#botonera1{
	float: center;
	width: 30%;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    padding: 115px 502px;
   /* background: green;*/
	
}
#botonera1 li{
	margin: 10px;
    padding: 10px;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: green;
}

#botonera1 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}

h2{
	margin-top: 35px;
    margin-bottom: auto;
}

#botonera2{
	float: left;
	width:50%;
    list-style-type: none;  
    padding: 5px 0px;
	
}
#botonera2 li{
	margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

#botonera2 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}

#botonera3{
	float: right;
	width: 50%;
    list-style-type: none;
    padding: 5px 0px;
}

#botonera3 li{
	margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

#botonera3 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}


#botonera4{
	float: left;
	width: 100%;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    padding: 5px -1px;
}

#botonera4 li{
	margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

#botonera4 li:hover{
	background-color: #e8a04b; 
	cursor: pointer;
}

}
.contenedor{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	color: black;

}

@media screen and (max-width: 860px) {
	#botonera1{
		float: none;
		width: 100%;
		}
	#botonera2{
		float: none;
		width: 100%;
		}
	#panel{
		float: none;
		width: 100%;
		}
	#tabla_registros{
		width: 90%;
				}
}